.golden {
    color: #dbc078;
}

#myIframe{
    display: none;
    border: 1px solid #ccc;
    width: 375px;
    height: 225px;
    margin-left: 20px;
    margin-right: 20px;
}

#toggleNavbarItem {
    cursor: pointer;
}

#myh3 {
    text-align: justify;
}

.changetext {
    font-size: medium;
}

@media(max-width: 992px) {
    .mediamobile {
        display: flex;
        flex-direction: column;
    }

    .changejustification{
        justify-content: space-between !important;
    }

    .changesize {
        height: 50px;
    }

    .changeitemsize {
        height: 20px;
    }

    .changeitempadding {
        padding: 0;
    }

    .changeitemmargin {
        margin: 0px !important;
    }

    .displayhide {
        display: none;
    }

    .changeh1 {
        font-size: larger;
    }

    .changeh3 {
        font-size: medium;
        padding-left: 20px;
        padding-right: 20px;
    }

    .skipmargin {
        padding: 20px;
    }
    .originaltextbox {
        width: 100%;
        align-self: center;
    }
}

@media(max-width: 350px) {
    #myIframe {
        width: 300px;
    }
    .mediamobile {
        display: flex;
        flex-direction: column;
    }

    .changejustification{
        justify-content: space-between !important;
    }

    .changesize {
        height: 50px;
    }

    .changeitemsize {
        height: 20px;
    }

    .changeitempadding {
        padding: 0;
    }

    .changeitemmargin {
        margin: 0px !important;
    }

    .displayhide {
        display: none;
    }

    .changeh1 {
        font-size: larger;
    }

    .changeh {
        font-size: medium;
        padding-left: 20px;
        padding-right: 20px;
    }

    .changetext {
        columns: 36 !important;
    }

    .skipmargin {
        padding: 20px;
    }

}
